.header {
   background-color:blueviolet;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    color: white;
    padding: 0 10%;
    display: flex;

}
.header h3{
   cursor: pointer;
}
.logout button{
   margin: auto;
    border-radius: 5px;
    padding: 5px;
    color: white;
    background-color:#9f5ccc;
    cursor: pointer;
    
    
  
}
.logout{
   text-align: right;
}
