.home {
    margin: auto;
    width: 70%;
    margin-top: 20%;
    text-align: center;
    
}
h3 {
    padding:10px;
}
.home button{
    background-color: transparent;
    color: #9f5ccc;
    border: none;
    cursor: pointer;
   }
   .home button:hover{
    background-color: transparent;
    color: #ae82cc;
   }