.container{
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 40px;
}
.expenseitem div {
    display: flex;
    margin:  10px 90px ;
    padding: 10px 50px;
    width: 33%;

font-weight: bold;
text-align: center;
}
.expenseitem {
    display: flex;
    width: 100%;


}
li {
    border-bottom: 1px solid blue;
}